
*.meta
*.anim
*.wav
*.png
*.mat
*.jpg
*.hdr
*.cubemap
*.txt
*.physicsMaterial2D
*.ttf
*.asset
*.shader
*.tga
*.mdp
*.controller
*.png~
*.prefab
*.cube
*.unity
*.shadergraph
*.cginc
*.shadersubgraph
*.json
*.psd
*.obj
*.dll
*.fbx
